.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 40px;
  }
  
  .audio-container {
    display: flex;
    height: 100vh;
    font-family: "Muli", sans-serif;
  }
  
  .panel {
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease-in;
  }
  
  .panel h3 {
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
    display: inline;
  }
  
  .panel audio {
    display: none;
    opacity: 0;
  }
  
  .panel.active {
    flex: 5;
  }
  
  .panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
  }
  
  .panel.active audio {
    display: inline;
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
  }
  
  .card {
    background-color: #fff;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 10px;
  }
  
  .quote-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 40%;
    border-radius: 5px;
  }
  
  .quote-card img {
    border-radius: 5px 5px 0 0;
    width: 100%;
  }
  
  .quote-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  
  .quote-container {
    padding: 2px 16px;
  }
  
  .flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .grid-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  
  .grid-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  
  .text-center {
    text-align: center;
  }
  
  /* Margin */
  .my-1 {
    margin: 1rem 0;
  }
  
  .my-2 {
    margin: 1.5rem 0;
  }
  
  .my-3 {
    margin: 2rem 0;
  }
  
  .my-4 {
    margin: 3rem 0;
  }
  
  .my-5 {
    margin: 4rem 0;
  }
  
  .m-1 {
    margin: 1rem;
  }
  
  .m-2 {
    margin: 1.5rem;
  }
  
  .m-3 {
    margin: 2rem;
  }
  
  .m-4 {
    margin: 3rem;
  }
  
  .m-5 {
    margin: 4rem;
  }
  
  /* Padding */
  .py-1 {
    padding: 1rem 0;
  }
  
  .py-2 {
    padding: 1.5rem 0;
  }
  
  .py-3 {
    padding: 2rem 0;
  }
  
  .py-4 {
    padding: 3rem 0;
  }
  
  .py-5 {
    padding: 4rem 0;
  }
  
  .p-1 {
    padding: 1rem;
  }
  
  .p-2 {
    padding: 1.5rem;
  }
  
  .p-3 {
    padding: 2rem;
  }
  
  .p-4 {
    padding: 3rem;
  }
  
  .p-5 {
    padding: 4rem;
  }
  